---
- name: "Harden CentOS/RHEL servers"
  hosts: centos_rhel_servers
  become: true
  vars:
    use_firewalld: true
  collections:
    - devsec.hardening
  tasks:
    - name: Update all packages
      yum:
        name: '*'
        state: latest
      when: ansible_pkg_mgr in ['yum','dnf']
    - name: Install EPEL repository (if needed)
      yum:
        name: epel-release
        state: present
      when: ansible_distribution in ['CentOS','RedHat']
    - name: Ensure firewalld is running
      service:
        name: firewalld
        state: started
        enabled: true
      when: use_firewalld
    - name: Allow SSH through firewall
      firewalld:
        service: ssh
        permanent: true
        state: enabled
      when: use_firewalld
  roles:
    - os_hardening
    - ssh_hardening
