---
- name: "Harden SUSE Linux servers"
  hosts: suse_servers
  become: true
  collections:
    - devsec.hardening
  tasks:
    - name: Refresh zypper repos and update
      zypper:
        name: '*'
        state: latest
        update_cache: yes
    - name: Ensure AppArmor service is enabled
      service:
        name: apparmor
        state: started
        enabled: true
      ignore_errors: true
  roles:
    - os_hardening
    - ssh_hardening
